Capstone Two - Data Wrangling

The goal of this capstone is to figure out if LendingClub would provide me a loan that is financially cheaper than one from my bank. The process will be accomplished via generating a model from an existing real data set from kaggle, to predict the interest rate on a loan from the lending tree for my specific case.

## Data Collection:

In [107]:
#Import pandas, matplotlib.pyplot, seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
print(os.getcwd())
from sb_utils import save_file

C:\Users\Raymond\Capstone Two - LendingTree Loan Data

In [18]:
#data is from 2007-2010, and publicly available from LendingClub.com
#importing loan data
loan_data = pd.read_csv('loan_data.csv')

In [19]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [20]:
loan_data.info

<bound method DataFrame.info of       credit.policy             purpose  int.rate  installment  \
0                 1  debt_consolidation    0.1189       829.10
1                 1         credit_card    0.1071       228.22
2                 1  debt_consolidation    0.1357       366.86
3                 1  debt_consolidation    0.1008       162.34
4                 1         credit_card    0.1426       102.92
...             ...                 ...       ...          ...
9573              0           all_other    0.1461       344.76
9574              0           all_other    0.1253       257.70
9575              0  debt_consolidation    0.1071        97.81
9576              0    home_improvement    0.1600       351.58
9577              0  debt_consolidation    0.1392       853.43

      log.annual.inc    dti  fico  days.with.cr.line  revol.bal  revol.util  \
0          11.350407  19.48   737        5639.958333      28854        52.1
1          11.082143  14.29   707        2760.000000      33623        76.7
2          10.373491  11.63   682        4710.000000       3511        25.6
3          11.350407   8.10   712        2699.958333      33667        73.2
4          11.299732  14.97   667        4066.000000       4740        39.5
...              ...    ...   ...                ...        ...         ...
9573       12.180755  10.39   672       10474.000000     215372        82.1
9574       11.141862   0.21   722        4380.000000        184         1.1
9575       10.596635  13.09   687        3450.041667      10036        82.9
9576       10.819778  19.18   692        1800.000000          0         3.2
9577       11.264464  16.28   732        4740.000000      37879        57.0

      inq.last.6mths  delinq.2yrs  pub.rec  not.fully.paid
0                  0            0        0               0
1                  0            0        0               0
2                  1            0        0               0
3                  1            0        0               0
4                  0            1        0               0
...              ...          ...      ...             ...
9573               2            0        0               1
9574               5            0        0               1
9575               8            0        0               1
9576               5            0        0               1
9577               6            0        0               1

[9578 rows x 14 columns]>

### DATA DEFINITION:

Column Names(Features) and their Descriptions:

1. credit_policy (int)- if the customer meets the credit underwriting criteria of LendingClub.com, and 0 otherwise.

2. purpose (str) - The purpose of the loan (takes values "creditcard", "debtconsolidation", "educational", "majorpurchase", "smallbusiness", and "all_other"). 

3. interest_rate (float) - The interest rate of the loan, as a proportion (a rate of 11% would be stored as 0.11). Borrowers judged by LendingClub.com to be more risky are assigned higher interest rates.

4. installment (float) - The monthly installments owed by the borrower if the loan is funded.

5. log_annual_income (float) -  The natural log of the self-reported annual income of the borrower.

6. debt_to_income_ratio (float)- The debt-to-income ratio of the borrower (amount of debt divided by annual income). 

7. fico (int)- The FICO credit score of the borrower.

8. days_with_credit_line (float)- The number of days the borrower has had a credit line. This is most likely the average age of open accounts like credit cards.

9. revolving_balance: The borrower's revolving balance (amount unpaid at the end of the credit card billing cycle).

10. revolving_utilization: The borrower's revolving line utilization rate (the amount of the credit line used relative to total credit available).

11. inquiries_last_6months: The borrower's number of (HARD) inquiries by creditors in the last 6 months.

12. delinquency_2yrs: The number of times the borrower had been 30+ days past due on a payment in the past 2 years.

13. public_record: The borrower's number of derogatory public records (bankruptcy filings, tax liens, or judgments).

14. not_fully_paid - 1 loan debt is paid off, 0 the debt is not paid off yet

In [21]:
loan_data.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [22]:
loan_data.tail()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

### DATA CLEANING:

In [26]:
loan_data = loan_data.rename(columns = {"credit.policy":"credit_policy", "int.rate":"interest_rate", "log.annual.inc":"log_annual_income", "dti":"debt_to_income_ratio", "days.with.cr.line":"days_with_credit_line", "revol.bal":"revolving_balance", "revol.util":"revolving_utilization", "inq.last.6mths":"inquiries_last_6months", "delinq.2yrs":"delinquency_2yrs", "pub.rec":"public_record", "not.fully.paid":"not_fully_paid"})
list(loan_data.columns)

['credit_policy',
 'purpose',
 'interest_rate',
 'installment',
 'log_annual_income',
 'debt_to_income_ratio',
 'fico',
 'days_with_credit_line',
 'revolving_balance',
 'revolving_utilization',
 'inquiries_last_6months',
 'delinquency_2yrs',
 'public_record',
 'not_fully_paid']

In [84]:
#Checking for null-values
loan_data.info()
print('\n\n\nThere are no null values in any of the features.')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   credit_policy           9578 non-null   int64
 1   purpose                 9578 non-null   object
 2   interest_rate           9578 non-null   float64
 3   installment             9578 non-null   float64
 4   log_annual_income       9578 non-null   float64
 5   debt_to_income_ratio    9578 non-null   float64
 6   fico                    9578 non-null   int64
 7   days_with_credit_line   9578 non-null   float64
 8   revolving_balance       9578 non-null   int64
 9   revolving_utilization   9578 non-null   float64
 10  inquiries_last_6months  9578 non-null   int64
 11  delinquency_2yrs        9578 non-null   int64
 12  public_record           9578 non-null   int64
 13  not_fully_paid          9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB



There are no null values in any of the features.

In [85]:
credit_policy_df = loan_data.credit_policy
print("List of Credit Policy Values:\n" + str(credit_policy_df.sort_values().unique()))
print('')
print("Min Value:" + str(credit_policy_df.min()))
print('')
print("Max Value:" + str(credit_policy_df.max()))
credit_policy_df.value_counts()

List of Credit Policy Values:
[0 1]

Min Value:0

Max Value:1

1    7710
0    1868
Name: credit_policy, dtype: int64

In [86]:
purpose_df = loan_data.purpose
print(purpose_df.unique())
purpose_df.value_counts()

['debt_consolidation' 'credit_card' 'all_other' 'home_improvement'
 'small_business' 'major_purchase' 'educational']

debt_consolidation    3957
all_other             2331
credit_card           1262
home_improvement       629
small_business         619
major_purchase         437
educational            343
Name: purpose, dtype: int64

In [87]:
interest_rate_df = loan_data.interest_rate
print("List of Interest Rate Values:\n" + str(interest_rate_df.sort_values().unique()))
print('')
print("Min Value:" + str(interest_rate_df.min()))
print('')
print("Max Value:" + str(interest_rate_df.max()))
interest_rate_df.value_counts()

List of Interest Rate Values:
[0.06   0.0639 0.0676 0.0705 0.0712 0.0714 0.0737 0.074  0.0743 0.0751
 0.0768 0.0774 0.0775 0.0788 0.08   0.0807 0.0832 0.0838 0.0859 0.0863
 0.087  0.0894 0.0901 0.0907 0.092  0.0932 0.0933 0.0938 0.0945 0.0951
 0.0963 0.0964 0.097  0.0976 0.0983 0.0988 0.0996 0.1001 0.1008 0.1014
 0.102  0.1025 0.1028 0.1033 0.1039 0.1046 0.1051 0.1059 0.1062 0.1064
 0.1071 0.1078 0.1083 0.1091 0.1095 0.1096 0.1099 0.1103 0.1109 0.1114
 0.1122 0.1126 0.1128 0.1134 0.1136 0.1141 0.1146 0.1148 0.1154 0.1158
 0.1159 0.1166 0.1172 0.1178 0.1183 0.1186 0.1189 0.1191 0.1197 0.1204
 0.1209 0.1217 0.1218 0.1221 0.1222 0.1229 0.1236 0.1241 0.1249 0.1253
 0.1254 0.1261 0.1267 0.1272 0.1273 0.128  0.1284 0.1286 0.1287 0.1292
 0.1299 0.1304 0.1311 0.1312 0.1316 0.1317 0.1322 0.1324 0.133  0.1336
 0.1343 0.1347 0.1348 0.1349 0.1355 0.1357 0.1362 0.1367 0.1375 0.1379
 0.138  0.1385 0.1387 0.1392 0.1393 0.1399 0.1407 0.1411 0.1412 0.1418
 0.1422 0.1425 0.1426 0.143  0.1438 0.1442 0.1443 0.145  0.1457 0.1459
 0.1461 0.1462 0.1467 0.147  0.1474 0.1475 0.1482 0.1488 0.1493 0.1496
 0.1501 0.1505 0.1507 0.1513 0.152  0.1525 0.1531 0.1533 0.1537 0.1538
 0.1545 0.1551 0.1557 0.1565 0.1568 0.157  0.1576 0.1583 0.1588 0.1596
 0.16   0.1601 0.1607 0.1608 0.1615 0.162  0.1628 0.1632 0.1633 0.1635
 0.164  0.1645 0.1646 0.1659 0.1663 0.1665 0.167  0.1671 0.1682 0.1683
 0.1691 0.1695 0.1696 0.1703 0.1704 0.1709 0.1715 0.1719 0.1722 0.1726
 0.1728 0.1734 0.1739 0.1741 0.1746 0.1754 0.1756 0.1758 0.1759 0.1766
 0.1772 0.1774 0.1778 0.1786 0.179  0.1791 0.1793 0.1797 0.1804 0.1809
 0.1821 0.1829 0.183  0.1836 0.1843 0.1853 0.1854 0.1861 0.1867 0.1872
 0.1878 0.1884 0.1886 0.1904 0.1913 0.1916 0.1936 0.1941 0.1947 0.1979
 0.1982 0.2011 0.2016 0.2017 0.2052 0.2086 0.209  0.2121 0.2164]

Min Value:0.06

Max Value:0.2164

0.1253    354
0.0894    299
0.1183    243
0.1218    215
0.0963    210
         ...
0.1941      1
0.1741      1
0.1620      1
0.1746      1
0.1756      1
Name: interest_rate, Length: 249, dtype: int64

In [102]:
installment_df = loan_data.installment
print("List of Installment Values:\n" + str(installment_df.sort_values().unique()))
print('')
print("Min Value:" + str(installment_df.min()))
print('15.67 translates to approximately 1.25 years')
print("Max Value:" + str(installment_df.max()))
print('940.14 translates to approximately 78.3 years')
print("Mode Value is approximately 318 months, which translates to 26.5 years")
installment_df.value_counts()

List of Installment Values:
[ 15.67  15.69  15.75 ... 922.42 926.83 940.14]

Min Value:15.67
15.67 translates to approximately 1.25 years
Max Value:940.14
940.14 translates to approximately 78.3 years
Mode Value is approximately 318 months, which translates to 26.5 years

317.72    41
316.11    34
319.47    29
381.26    27
662.68    27
          ..
248.43     1
181.57     1
197.18     1
515.46     1
258.68     1
Name: installment, Length: 4788, dtype: int64

In [104]:
log_annual_income_df = loan_data.log_annual_income
print("List of Log of Annual Income Values:\n" + str(log_annual_income_df.sort_values().unique()))
print('')
print("Min Value:" + str(log_annual_income_df.min()))
print('7.54 translates to an annual income of approximately 1881$')
print("Max Value:" + str(log_annual_income_df.max()))
print('14.52 translates to an annual income of approximately 2 Million $')
log_annual_income_df.value_counts()

List of Log of Annual Income Values:
[ 7.54750168  7.60090246  8.10167775 ... 14.12446477 14.18015367
 14.52835448]

Min Value:7.547501682999999
7.54 translates to an annual income of approximately 1881$
Max Value:14.52835448
14.52 translates to an annual income of approximately 2 Million $

11.002100    308
10.819778    248
10.596635    224
10.308953    224
10.714418    221
            ...
9.229358       1
10.381087      1
10.471638      1
11.492641      1
12.223421      1
Name: log_annual_income, Length: 1987, dtype: int64

In [90]:
debt_to_income_ratio_df = loan_data.debt_to_income_ratio
print("List of Debt to Income Ratio Values:\n" + str(debt_to_income_ratio_df.sort_values().unique()))
print('')
print("Min Value:" + str(debt_to_income_ratio_df.min()))
print('')
print("Max Value:" + str(debt_to_income_ratio_df.max()))
debt_to_income_ratio_df.value_counts()

List of Debt to Income Ratio Values:
[0.000e+00 1.000e-02 2.000e-02 ... 2.990e+01 2.995e+01 2.996e+01]

Min Value:0.0

Max Value:29.96

0.00     89
10.00    19
0.60     16
13.16    13
19.20    13
         ..
28.70     1
13.48     1
8.07      1
28.61     1
26.19     1
Name: debt_to_income_ratio, Length: 2529, dtype: int64

In [91]:
fico_df = loan_data.fico
print("List of FICO score Values:\n" + str(fico_df.sort_values().unique()))
print('')
print("Min Value:" + str(fico_df.min()))
print('')
print("Max Value:" + str(fico_df.max()))
fico_df.value_counts()

List of FICO score Values:
[612 617 622 627 632 637 642 647 652 657 662 667 672 677 682 687 692 697
 702 707 712 717 722 727 732 737 742 747 752 757 762 767 772 777 782 787
 792 797 802 807 812 817 822 827]

Min Value:612

Max Value:827

687    548
682    536
692    498
697    476
702    472
707    444
667    438
677    427
717    424
662    414
712    395
672    395
722    388
727    361
732    330
742    324
737    313
752    258
747    236
757    231
762    220
772    158
767    142
777    140
652    131
657    127
782    118
647    112
642    102
792     97
787     85
797     76
802     55
807     45
812     33
632      6
817      6
637      5
822      5
627      2
612      2
617      1
622      1
827      1
Name: fico, dtype: int64

In [92]:
days_with_credit_line_df = loan_data.days_with_credit_line
print("List of days with credit line Values:\n" + str(days_with_credit_line_df.sort_values().unique()))
print('')
print("Min Value:" + str(fico_df.min()))
print('')
print("Max Value:" + str(fico_df.max()))
days_with_credit_line_df.value_counts()

List of days with credit line Values:
[  178.9583333   180.0416667   181.        ... 16652.        17616.
 17639.95833  ]

Min Value:612

Max Value:827

3660.000000    50
3630.000000    48
3990.000000    46
4410.000000    44
3600.000000    41
               ..
3000.958333     1
2807.041667     1
7779.000000     1
2013.958333     1
9719.041667     1
Name: days_with_credit_line, Length: 2687, dtype: int64

In [93]:
revolving_balance_df = loan_data.revolving_balance
print("List of Revolving Balance Values:\n" + str(revolving_balance_df.sort_values().unique()))
print('')
print("Min Value:" + str(revolving_balance_df.min()))
print('')
print("Max Value:" + str(revolving_balance_df.max()))
revolving_balance_df.value_counts()

List of Revolving Balance Values:
[      0       1       2 ...  602519  952013 1207359]

Min Value:0

Max Value:1207359

0        321
255       10
298       10
682        9
346        8
        ...
14538      1
33761      1
18636      1
205        1
8128       1
Name: revolving_balance, Length: 7869, dtype: int64

In [95]:
revolving_utilization_df = loan_data.revolving_utilization
print("List of Revolving Utilization of Credit line Values:\n" + str(revolving_utilization_df.sort_values().unique()))
print('')
print("Min Value:" + str(revolving_utilization_df.min()))
print('')
print("Max Value:" + str(revolving_utilization_df.max()))
revolving_utilization_df.value_counts()

List of Revolving Utilization of Credit line Values:
[0.000e+00 4.000e-02 1.000e-01 ... 1.065e+02 1.088e+02 1.190e+02]

Min Value:0.0

Max Value:119.0

0.00      297
0.50       26
0.30       22
73.70      22
47.80      22
         ...
49.63       1
102.80      1
69.14       1
102.70      1
105.70      1
Name: revolving_utilization, Length: 1035, dtype: int64

In [97]:
inquiries_last_6months_df = loan_data.inquiries_last_6months
print("List of Hard inquiries in the past 6 months Values:\n" + str(inquiries_last_6months_df.sort_values().unique()))
print('')
print("Min Value:" + str(inquiries_last_6months_df.min()))
print('')
print("Max Value:" + str(inquiries_last_6months_df.max()))
inquiries_last_6months_df.value_counts()

List of Hard inquiries in the past 6 months Values:
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 24 25 27
 28 31 32 33]

Min Value:0

Max Value:33

0     3637
1     2462
2     1384
3      864
4      475
5      278
6      165
7      100
8       72
9       47
10      23
11      15
12      15
15       9
13       6
14       6
18       4
16       3
24       2
19       2
17       2
27       1
28       1
25       1
32       1
20       1
33       1
31       1
Name: inquiries_last_6months, dtype: int64

In [98]:
delinquency_2yrs_df = loan_data.delinquency_2yrs
print("List of Delinquencies in the past 2 years Values:\n" + str(delinquency_2yrs_df.sort_values().unique()))
print('')
print("Min Value:" + str(delinquency_2yrs_df.min()))
print('')
print("Max Value:" + str(delinquency_2yrs_df.max()))
delinquency_2yrs_df.value_counts()

List of Delinquencies in the past 2 years Values:
[ 0  1  2  3  4  5  6  7  8 11 13]

Min Value:0

Max Value:13

0     8458
1      832
2      192
3       65
4       19
5        6
6        2
7        1
13       1
11       1
8        1
Name: delinquency_2yrs, dtype: int64

In [99]:
public_record_df = loan_data.public_record
print("List of Public Record Values:\n" + str(public_record_df.sort_values().unique()))
print('')
print("Min Value:" + str(public_record_df.min()))
print('')
print("Max Value:" + str(public_record_df.max()))
public_record_df.value_counts()

List of Public Record Values:
[0 1 2 3 4 5]

Min Value:0

Max Value:5

0    9019
1     533
2      19
3       5
5       1
4       1
Name: public_record, dtype: int64

In [100]:
not_fully_paid_df = loan_data.not_fully_paid
print("List of Not Fully Paid off Values:\n" + str(not_fully_paid_df.sort_values().unique()))
print('')
print("Min Value:" + str(not_fully_paid_df.min()))
print('')
print("Max Value:" + str(not_fully_paid_df.max()))
not_fully_paid_df.value_counts()

List of Not Fully Paid off Values:
[0 1]

Min Value:0

Max Value:1

0    8045
1    1533
Name: not_fully_paid, dtype: int64

In [105]:
rays_data = [[1,'educational', 'x', 317.72, 11.08, 0.15, 750, 1095, 0, 0, 1, 0, 0, 1]]

#interest rate is left as x in ray's data as that is the value we will be solving for in the coming portions of this Capstone Project
rays_df = pd.DataFrame(rays_data, columns = ['credit_policy',
 'purpose',
 'interest_rate',
 'installment',
 'log_annual_income',
 'debt_to_income_ratio',
 'fico',
 'days_with_credit_line',
 'revolving_balance',
 'revolving_utilization',
 'inquiries_last_6months',
 'delinquency_2yrs',
 'public_record',
 'not_fully_paid'])

In [106]:
#INSERT RAYMOND'S DATA FOR LOAN TERMS FROM ANOTHER BANK
#Bank of America's Interest Rate
boa_int_rate = 0.08